<div class="app-body" style="margin-top: 12em;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card text-white py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <div _ngcontent-rpc-c1="" class="px-logo">
                    <a _ngcontent-rpc-c1="" href="https://www.euclidinnovations.com" target="_blank">
                      <img _ngcontent-rpc-c1="" alt="logo" src="assets/logo.png" style="height: 7em;margin-top: 1em;">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <div>
                    <h3 style="text-align: center;font-family: TT Tr;font-weight: bold;font-size: 22px;">Reset Password</h3>
                  </div>
                  <div>
                    <input type="text" class="form-control" placeholder="Username" required [(ngModel)]="user.email" name="email">
                  </div>
                  <div style="margin-top: 10px">
                    <input type="text" class="form-control" placeholder="Please enter the token" required [(ngModel)]="user.token" name="token">
                  </div>
                  <div style="margin-top: 10px">
                    <input type="password" class="form-control" placeholder="New Password" required [(ngModel)]="user.password" name="password">
                  </div>
                  <div style="margin-top: 10px">
                    <input type="password" class="form-control" placeholder="Confirm Password" required [(ngModel)]="confirmPassword" name="confirmPassword">
                  </div>
                  <div class="row col-6" style="margin-top: 1em;">
                    <button type="button" class="btn btn-login px-4" style="margin-top: 15px;" (click)="sendUser()" style="background-color: #03c4c4;color: #fff;">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
