.dashboard-menu {
    height: 30px;
    padding: 3px;
}

.dashboard-container {
    height: calc(100% - 30px);
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#createwidget {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(82, 82, 82, 0.2);
    z-index: 999;
}

#createwidget_container {
    width: 500px;
    height: 500px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 2px 2px #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 20px;
    overflow: auto;
    padding-bottom: 15px;
}

.title {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    text-indent: 15px;
    cursor: pointer;
}

.container {
    font-size: 13px !important;
}

input {
    padding: .375rem 1.75rem .375rem .75rem;
    height: calc(1.5em + .75rem + 2px);
}

.close-btn {
    cursor: pointer;
}