<div class="app-body" style="margin-top: 12em;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card text-white py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <div _ngcontent-rpc-c1="" class="px-logo">
                    <a _ngcontent-rpc-c1="" href="https://www.euclidinnovations.com" target="_blank">
                      <img _ngcontent-rpc-c1="" alt="logo" src="assets/logo.png" style="height: 7em;margin-top: 1em;">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h3 style="text-align: center;font-family: TT Tr;font-weight: bold;font-size: 22px;">Forget Password</h3>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="email" required [(ngModel)]="user.email" name="email" #email>
                  </div>
                  
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-login px-4" (click)="sendUser()" style="background-color: #03c4c4;color: #fff;">Reset</button>

                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" [routerLink]="['/sign-in']" style="width:100%;background-color: #03c4c4;color: #fff;">Back To Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


