.main-panel {
    width: 100%;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    margin-top: 5px;
    overflow: hidden auto;
    /* display: inline-flex; */
    align-items: center;
    /* height: calc(100vh - 85px); */
    height: calc(100vh - 66px);
    margin-right: 7px;
}

.container-fluid {
    padding-left: 0;
    position: relative;
    padding-right: 0px;
}

app-main {
    width: calc(100% - 45px);
}

.main-container {
    height: calc(100vh - 80px);
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}